.banner {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}


.left {
    width: 60%;
}

.left h2 {
    font-size: calc(12px + 4vw);
}

.left span {
    color: #3e6ff4;
}

.left .contact {
color: #fff;
text-decoration: none;
display: inline-block;
padding: 12px 24px;
border-radius: 8px;
background-color: #3e6ff4;
transition: all 0.6s;
border: 1px solid transparent;
}

.left .contact:hover {
border-color: #3e6ff4;
background-color: transparent;
color: #212121;
}


.right {
    width: 40%;
}

.bgPhoto {
    width: 100%;
}